<div class="box">
  <h4 class="title is-4">{{title}}</h4>
  <p>{{content}}</p>
  <footer>
    <small>Post ID: {{id}}, </small>
    <small class="is-pulled-center">Username: {{User.username}}</small>
    <small class="is-pulled-right">Created at:
      {{formatDate createdAt "MM/DD/YYYY h:mm a"}}</small>
  </footer>
</div>